.yellow-note {
  background-color: rgb(209, 209, 54);
}
.green-note {
  background-color: rgba(20, 150, 20, 0.726);
}
.red-note {
  background-color: rgba(128, 52, 52, 0.815);
}
.purple-note {
  background-color: rgb(87, 28, 87);
}
.blue-note {
  background-color: rgb(28, 128, 196);
}
.orange-note {
  background-color: orange;
}
.gray-note {
  background-color: gray;
}

.lightsalmon-note {
  background-color: lightsalmon;
}

.skyblue-note {
  background-color: skyblue;
}
