.edit-note {
  display: flex;
  height: 90vh;
  width: 400px;
  background-color: rgb(166 219 175);
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
}

.note-filter {
  background-color: lightslategray;
  padding: 10px;
}

.note-add {
  /* margin-top: 20px; */
  width: 500px;
  margin: 30px 0px 20px 3px;
  padding: 10px;
  position: relative;
  /* transition: 150ms ease-in-out; */
  border-radius: 0.5rem;
  border: 1px solid rgba(192, 192, 192, 0.918);
}

.note-add .note-type svg {
  fill: rgb(97, 97, 97);
  width: 30px;
  cursor: pointer;

  border-radius: 20%;
  padding: 0.2rem;
}

.note-add .note-type-select svg:hover {
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 0px 1px 2px 1px rgba(100, 100, 100, 0.28);
}

.edit-note {
  width: 500px;
  height: 500px;
  background-color: aqua;
  margin: 0 0px 20px 3px;
  padding: 10px;
  position: relative;
  transition: 150ms ease-in-out;
  border-radius: 0.5rem;
  border: 1px solid rgba(192, 192, 192, 0.918);
}
