.note-list {
  display: flex;

  text-align: center;
  max-width: 100%;
  padding: 5px;
  column-count: 4;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 5px 5px 5px;
  page-break-inside: avoid;
  break-inside: auto;
}

.note-list > * {
  min-width: 190px;
  margin-bottom: 10px;
  break-inside: avoid;
  transform: translateZ(0);
}

/* .note-list {
  display: flex;

  text-align: center;
  background-color: aqua;
}

.curr-note-list {
  display: flex;
  background-color: rgb(238, 226, 58);
  flex-basis: 20%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  height: 200px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
}

.curr-note-list {
} */
