.note-list {
  display: flex;

  text-align: center;
  background-color: aqua;
}

.note-preview-container {
  display: flex;
  background-color: rgb(238, 226, 58);
  flex-basis: 20%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  height: 200px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
}
