.note-list {
  background-color: rgb(189, 197, 79);
  display: flex;
  margin: auto;
}

.note-preview-container {
  background-color: burlywood;
  flex-basis: 20%;
  margin: auto;
  padding: 20px;
}

.edit-note {
  height: 300px;
  width: 300px;
  background-color: rgb(136, 247, 154);
}
