.mail-list li {
    height: 40px;
    align-items: center;
    border-bottom: 1px solid rgb(158, 156, 156);
    /* border-top: 1px solid rgb(158, 156, 156); */
}

.mail-preview div {
    margin-right: 15px;
}

.email-sender {
    width: 12rem
}

.email-subject {
    width: 6.5rem
}

.email-body {
    width: 10rem;
}

.isRead {
    background-color: aqua;
}